@font-face {
  font-family: 'title';
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Null-Normal.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.politka-highlight {
  color: inherit; /* Use the original text color for readability */
  position: relative;
  padding: 0 1px;
  font-weight: bold; /* Keep original font weight for readability */
  text-decoration: underline;
  transition: background-color 0.2s ease;
  text-decoration-color:#c83737;
  cursor: url('chrome-extension://__MSG_@@extension_id__/icons/cursor.png'), auto !important;}

.politka-highlight:hover {
  background-color: #c83737;
}


#politka-tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #231f20;
  color: #ffffff;
  border-radius: 3px;
  padding: 10px 15px;
  max-width: 300px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

/* Soviet-style header in the tooltip */
#politka-tooltip::before {
  content: "- STATUS -";
  color: #c83737;
  font-family: 'title', 'Arial', sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  border-bottom: 1px solid #c83737;
  padding-bottom: 5px;
  text-align: center;
}